/*
* 
* style.css
* @Auteur : Christophe Dufour
*
* Fichier des définitions des styles CSS
*
*/

body {
	background-color: silver;
	
	font-family: Verdana, sans-serif;
	font-size: 1em;
}
